/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/**/
/*---------------------------------*/

body {
  color: black;
  font-family: Arial, sans-serif;
  background-color: #F1F3F4;
}

/* Content */

.content-container {
  margin: 15px;
}

/* Search bar */

.search-container {
  position: fixed;
  /* Set the position to fixed. */
  top: 0;
  left: 0;
  right: 0;
  /* Position it at the top of the viewport. */
  width: 100%;
  width: calc(100% - 30px);
  /* Subtracting left and right margins from the total width */
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* center contents horizontally */
  border: 1px solid #fff;
  /* Border styling */
  border-radius: 23px;
  /* Rounded corners */
  background-color: white;
  /* Background color */
  box-shadow: 0 2px 5px rgba(40, 40, 40, 0.3);
  transition: all 0.3s;
}

#searchInput {
  padding: 10px 20px;
  /* Add some padding */
  font-size: 1.05rem;
  /* Font size */
  background-color: white;
  /* Background color */
  border: 1px solid #fff;
  /* Border styling */
  border-radius: 23px;
  flex-grow: 1;
  /* Allow it to grow and take up available space */
}

#clearInputButton {
  cursor: pointer;
  font-size: 1.85em;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  color: #333;
  display: none;
}

#searchInput:focus {
  outline: none;
}

.search-container:focus-within {
  box-shadow: none;
}

/* Table */

table {
  margin: 80px auto 20px auto;
  text-align: center;
  width: 100%;
  color: #222;
  table-layout: fixed; /* Ensures even distribution of column width */
  border-spacing: 5px;
}

td {
  width: 11%;
  position: relative;
  border-radius:2px;
}

td .content {
  aspect-ratio: 1 / 1;
  overflow: hidden; /* To ensure content doesn't spill out */
  /* Flexbox styles for centering */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

/* Cell Highlights */

.highlightSearchResult {
  background-color: orange;
  color: #333;
  font-weight: bold;
  outline: 1px solid rgb(243, 158, 0);
}

.highlightClick {
  background-color: #EA4335; /* #EA4335 light red */
  color: white;
  font-weight: bold;
  outline: 1px solid #dd4133;  /* #B21511 dark red*/
}

/* Search results */

#searchResults {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* This will stretch the div across the full width of the page. */
  background-color: #f9f9f9; /* Optional: You can set a background color for better visibility. */
  border-top: 1px solid #e5e5e5; /* Optional: Adds a little border on top for distinction. */
  padding: 0 20px; /* Optional: Adds a little space around the content. */
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth. */
  display: none; /* By default, it should be hidden. */
  z-index: 1000; /* To ensure it's always on top. */
  height: 50vh;
  overflow-y: auto;
  /*transition: height 0.3s ease-in-out;*/  /* Adjust the duration (0.3s) as needed */
}

.resultItem {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; 
}

.itemTitle {
  font-weight: 600;
  color: #333;
  margin-top: 15px;
}

.itemAddress {
  color :#666;
}

#searchResults.minimized {
  height: 50px; /* Or whatever height you want for the minimized bar */
  overflow: hidden;
}

#swipeBar {
  padding-top: 20px;
}

#swipeBar img{
  height: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#searchResults.minimized #swipeBar img {
  transform: scaleY(-1);
}


/* Block Details Box */

#blockDetails {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* This will stretch the div across the full width of the page. */
  background-color: #f9f9f9; /* Optional: You can set a background color for better visibility. */
  border-top: 1px solid #e5e5e5; /* Optional: Adds a little border on top for distinction. */
  padding: 20px; /* Optional: Adds a little space around the content. */
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth. */
  display: none; /* By default, it should be hidden. */
  z-index: 1000; /* To ensure it's always on top. */
  height: 50vh;
  overflow-y: auto;
}



#pageContent {
  transition: transform 0.3s ease; /* Smooth transition for moving content */
}

.logo-list {
  display: flex;
  margin-top: 20px;
}

.blockdetaillogoicon {
  width: 40px;
  margin-right: 15px;
}