/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------ MY CSS ----------- */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/*------------------ ---------------*/

body {
  color: black;
  font-family: 'Inter', sans-serif, Arial, sans-serif;
  background-color: #F8F9FA;
}

/* Content */

.content-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

/* Search bar */

.desktopSearchContainer {
  position: fixed;
  top: 0;
  left: 0;
  /* The combinmation of left. right and margin auto keeps fixed element centered*/
  right: 0;
  z-index: 1001;
  margin: 20px auto 0 auto;
  max-width: 500px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 23px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s;
  margin: 0 15px;

}

#searchInput {
  font-size: 1.1rem;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 23px;
  flex-grow: 1;
  padding: 9px 0 8px 20px;
  /* top padding a 1px higher to center placeholder text */
}

#clearInputButton {
  cursor: pointer;
  font-size: 1.85em;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  color: #333;
  display: none;
}

#clearInputButton img {
  width: 30px;
  padding: 4px;
}

#searchInput:focus {
  outline: none;
}

.search-container:focus-within {
  border: 1px solid #DBDDE1;
  box-shadow: none;
}

.searchContainerBlockDisplay { /* class addded when blockDetails is open */
  border: 1px solid #DBDDE1;
  box-shadow: none;
}

::placeholder {
  color: #777;
}

/* ================== Table ================ */

table {
  font-size: 0.95em;
  color: #afafaf;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  /* Ensures even distribution of column width */
  border-spacing: 5px;
  margin: 80px auto 20px auto;
  padding: 5px;
}

td {
  width: 11%;
  position: relative;
  border-radius: 2px;
}

td .content {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  /* To ensure content doesn't spill out */
  /* Flexbox styles for centering */
  display: flex;
  align-items: center;
  /* Vertical centering */
  justify-content: center;
  /* Horizontal centering */
}

/* Cell Highlights */

.highlightSearchResult {
  background-color: orange;
  color: #333;
  font-weight: bold;
  outline: 1px solid rgb(243, 158, 0);
}

.highlightClick {
  background-color: #EA4335;
  /* #EA4335 light red */
  color: #fff;
  font-weight: bold;
  outline: 1px solid #dd4133;
  /* #B21511 dark red*/
}

/* ================ Search results ================ */

#searchResults {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* This will stretch the div across the full width of the page. */
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  /* Optional: Adds a little border on top for distinction. */
  /* Optional: Adds a little space around the content. */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
  /* By default, it should be hidden. */
  z-index: 1000;
  /* To ensure it's always on top. */
  height: 60vh;
  overflow-y: auto;
  max-width: 500px;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*transition: height 0.3s ease-in-out;*/
  /* Adjust the duration (0.3s) as needed */
}

.resultItem { /*searchResult item*/
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.searchResultImages {
  display: flex;
  overflow-x: auto;
  padding: 0 15px;
  gap: 10px;
}

.searchResultImages img {
  flex: 0 0;
  height: 100px;
  object-fit: cover;  /* Ensures the image covers the entire content box */
  object-position: center top;
  margin-bottom: 15px;
  border-radius: 7px;
}

.searchResultOwnerUsername {
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 15px;
  margin-bottom: 5px;
}

.searchResultItemTitle {  /* bitmap number*/
  color: #333;
  margin-left: 15px;
  margin-bottom: 10px;
}

.searchResultItemTags {
  color: #555;
  font-size: 0.95em;
  margin-left: 15px;
}

#searchResults.minimized {
  height: 50px;
  overflow: hidden;
}

#swipeBar img {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30px;
  margin-left: 15px;
}

#searchResults.minimized #swipeBar img {
  transform: scaleY(-1);
}


/* ========================= Block Details Box ============================ */

#blockDetails {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  max-width: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0 auto;
  overflow-y: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
}

#closeButton {
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding-top: 80px;
  padding-bottom: 10px;
  background-color: white;
  
}

#closeButton img {
  width: 30px;
  cursor: pointer;
  transform: rotate(90deg);
  margin-left: 10px;
}

#pageContent {
  transition: transform 0.3s ease;
  /* Smooth transition for moving content */
}

.blockImage-container { 
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
  padding: 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  gap: 15px;
}

.blockImage-container img {
  flex: 0 0;
  height: 240px;
  object-fit: cover;  /* Ensures the image covers the entire content box */
  object-position: center top;
  border-radius: 7px;
}

.owner-username {
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 15px;
}

.itemTitle {  /* bitmap number*/
  color: #333;
  margin: 5px 15px 0 15px;
}

.copy-icon {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 3px;
  align-items: flex-start;
}


.web-link-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.web-link-container a {
  text-decoration: none;
  color: black;
  word-wrap: break-word;
}

.web-link-container img{
  width: 25px;
  margin-right: 30px;
}

.itemTags-container {
  margin: 0 15px;
}

.itemsTags-title {
  font-size: 1.05em;
  font-weight: 500;
  margin-top: 15px;
}

.itemTags {
  color: #555;
  font-size: 0.95em;
}

.link-title {
  text-transform: uppercase;
  font-size: 0.85em;
  color: #999;
  margin-top: 15px;
}

.social-links {
  margin-top: 5px;
  display: flex;
}

.bapp-links {
  margin-top: 5px;
  display: flex;
}

.blockdetaillogoicon {
  width: 60px;
  margin-right: 15px;
  border-radius: 5px;
}

/* ========================= Loading icon ============================ */

.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* This will make it centered on the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  /* Ensure it's on top of other content */
}

.loading-circle {
  width: 50px;
  height: 50px;
  background-color: orange;
  position: fixed;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateSquare 1.5s linear infinite;
}

@keyframes rotateSquare {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ========================= Trending toggle ============================ */

#contentDiv {
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 400px;
  /* 50% of the viewport height */
  bottom: 0;
  /* Start at the bottom of the screen */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.4s;
  /* Smooth transition effect */
  z-index: 1001;
}

.trending-container {
  display: flex;
  overflow-x: auto;
  padding-left: 20px;
}

.epoch-title {
  font-size: 1.25em;
  font-weight: 500;
  margin: 20px;
}

.trending-content {
  flex: 0 0 260px;
  padding-right: 20px;
  cursor: pointer;
}

.trending-content-img {
  border-radius: 10px;
}

.trending-content-title {
  font-size: 1.05em;
  font-weight: 500;
  margin: 10px 0;
}

.trending-content-owner {
  font-size: 1em;
}

.trending-content-bitmap {
  color: #666;
  font-size: 1em;
  margin-bottom: 10px;
}

.post-age {
  color: #666;
}

/* ========================= Trending Content Toggle ============================ */

#toggleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* Makes the button a circle */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 20px;
  /* 20px from the right side of the screen */
  bottom: 420px;
  /* Just above the content div */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.4s;
  z-index: 1;
  /* Make sure the button is on top of the content div */
}

#toggleButton img {
  width: 30px;
}

.hidden {
  /* When content div is hidden */
  transform: translateY(100%);
  /* Slide it down out of view */
}


#toggleButton.move {
  /* Adjust the button position when content div is hidden */
  bottom: 65px;
}

/* BAPP icons */

.bapp-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding:0 15px;
}

.bapp-container-title {
  font-size: 1.05em;
  font-weight: 500;
  margin-top: 15px;
}

.bapp-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px; /* Adjust this value for desired padding */
  margin: 15px 0;
}

.bapp-image-container a {
  width: calc((100% - 50px) / 6);
  flex: 0 0 auto;
  text-decoration: none; /* Removes the default underline from links */
  display: block; /* Ensures the anchor tag behaves as a block element for layout purposes */
}

.bapp-image-container img {
  width: 100%; /* This ensures the image fills the width of the anchor tag */
  height: auto;
  object-fit: cover; /* Optional: Ensure the aspect ratio of the images is maintained */
  border-radius: 5px;
}

/* notification on address copy */

#notification {
  display: none; /* Initially hidden */
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

/* When the notification is active */
#notification.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* error window close button*/

.error-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-message {
  margin-top: 80px;
  text-align: center;
  flex: 0 0 auto;
}

.error-button {
  background-color: white;
  border: 1px solid #666;
  cursor: pointer;
  text-align: center;
  width: 100px;
  margin: 15px auto 0 auto;
  padding: 5px 15px; 
  border-radius: 3px;
}

.error-close-icon:before {
  content: "X";
}

